body {
    background-color: darkgray
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 50px;
}

.card{
    box-shadow: 1px 1px 5px dimgray;
    background-color: white;
    padding: 30px;
    border-radius:5px;

}
